{% extends "app/base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div id="app-profile" class="container app-container">
	{% include "app/sections/nav.html" %}
	<div class="panel">
		<h2><img src="{{user.avatar}}" class="img-circle" > <span class="muted">{{user.name}}</span></h2>
		<div class="row-fluid">
			<div class="span5">
				<h3>You</h3>
				<form action="/app/profile/" method="post" id="profile" >
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="name">Name</label>
							<div class="controls">
								<input type="text" class="input-large" id="name" value="{{user['name']}}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="email">Email</label>
							<div class="controls">
								<input type="email" class="input-large" id="email" value="{{user['email']}}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="password">Password</label>
							<div class="controls">
								<input type="password" class="input-large" id="password" name="password">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="confirm-password">Confirm Password</label>
							<div class="controls">
								<input type="password" class="input-large" id="confirm-password">
							</div>
						</div>
					</fieldset>
					<div>
						<button class="btn btn-success" type="submit">Update Profile</button>
					</div>
				</form>
			</div>

			<div class="span7">

				<p class="lead">Hey! You can choose which projects you see whenever you like, as much as you like.</p>				
				<h3>Payment Method</h3>				
				<form action="/app/cart/update-payment/" method="post" id="update-payment">
					{% if payment.card != null %}
					<p><strong>{{payment.card.type}}</strong> ending in <strong>{{payment.card.last4}}</strong>, expires <strong>{{payment.card.exp_month}}/{{payment.card.exp_year}}</strong></p>
					<button type="submit" class="btn btn-success" id="payment-button">Update Payment Method</button>
					{% else %}
					<button type="submit" class="btn btn-warning" id="payment-button">Add Payment Method</button>
					{% endif %}
				</form>
				
				<hr />

				<form action="/app/cart/update-subscription/" method="post" id="update-subscription">					
					<h3>Plans</h3>	
					<fieldset>						
						<label class="radio">
							<input type="radio" name="plan" id="br-pro" value="br-pro" {% if user.subscription.plan.id == 'br-pro'%} checked {% endif %}>
							<h4>Pro</h4>
							<p class="plan-feature">30 projects at a time <span class="plan-price"><sup>$</sup>19.95<sub>/mo.</sub></span></p>														
						</label>

						<label class="radio">
							<input type="radio" name="plan" id="br-manager" value="br-manager" {% if user.subscription.plan.id == 'br-manager'%} checked {% endif %} >
							<h4>Manager</h4>
							<p class="plan-feature">10 projects at a time <span class="plan-price"><sup>$</sup>9.95<sub>/mo.</sub></span></p>								
						</label>

						<label class="radio">
							<input type="radio" name="plan" id="br-solo" value="br-solo" {% if user.subscription.plan.id == 'br-solo'%} checked {% endif %} >
							<h4>Solo</h4>
							<p class="plan-feature">5 projects at a time <span class="plan-price"><sup>$</sup>4.95<sub>/mo.</sub></span></p>							
						</label>

						<label class="radio">
							<input type="radio" name="plan" id="br-free" value="br-free" {% if user.subscription.plan.id == 'br-free'%} checked {% endif %} >
							<h4>Forever Free</h4>
							<p class="plan-feature">3 projects at a time <span class="plan-price"><sup>$</sup>0.00<sub>/mo.</sub></span></p>
						</label>						
					</fieldset>
					<button type="submit" class="btn btn-warning" id="subscribe-button">Update Subscription</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% include "app/sections/footer.html" %}
{% endblock %}
{% block js %}
<script src="//checkout.stripe.com/v2/checkout.js"></script>
<script>
$('#payment-button').click(function(){
	var token = function(res){		
		var $input = $('<input type=hidden name=paymentToken />').val(res.id);
		$('#update-payment').append($input).submit();
	};
	StripeCheckout.open({
		key:"{{payment.key}}",
		address:false,						
		currency:'usd',
		name:'BlueRidge',
		panelLabel:'Update Payment Method',
		token:token
	});
	return false;
});
</script>
{% endblock %}
