{% extends "app/base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div id="app-profile" class="container app-container">
	{% include "app/sections/nav.html" %}	
	{% if flash['success'] != null %}
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Yay!</strong> {{flash['success']}}.
	</div>
	{% endif %}
	<div class="panel">
		<div class="row-fluid user-info">
			<div class="span1 hidden-phone">
				<img src="{{user.avatar}}" class="img-circle ">
			</div>
			<div class="span11 user-meta">
				<h2>{{user.name}}</h2>
				<h4>{{user['email']}}</h4>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<form action="/app/cart/update-subscription/" method="post" id="update-subscription">
					<h3>Choose Your Plan</h3>
					<p>You can choose which projects you see whenever you like, as much as you like.</p>
					<fieldset class="plan-list">
						<label class="radio">
							<input type="radio" name="plan" id="br-pro" value="br-pro" {% if user.subscription.plan.id == 'br-pro'%} checked {% endif %}>
							<h4>Pro &mdash; <span class="plan-price"><sup>$</sup>19.95<small>/mo.</small></span></h4>
							<p class="plan-feature">40 projects at a time.</p>
							<p class="plan-feature">Priority Support.</p>
						</label>

						<label class="radio">
							<input type="radio" name="plan" id="br-manager" value="br-manager" {% if user.subscription.plan.id == 'br-manager'%} checked {% endif %} >
							<h4>Manager &mdash; <span class="plan-price"><sup>$</sup>9.95<small>/mo.</small></span></h4>
							<p class="plan-feature">10 projects at a time.</p>
							<p class="plan-feature">Priority Support.</p>
						</label>

						<label class="radio">
							<input type="radio" name="plan" id="br-solo" value="br-solo" {% if user.subscription.plan.id == 'br-solo'%} checked {% endif %} >
							<h4>Solo &mdash; <span class="plan-price"><sup>$</sup>4.95<small>/mo.</small></span></h4>
							<p class="plan-feature">5 projects at a time.</p>
							<p class="plan-feature">Priority Support.</p>
						</label>

						<label class="radio">
							<input type="radio" name="plan" id="br-free" value="br-free" {% if user.subscription.plan.id == 'br-free'%} checked {% endif %} >
							<h4>Forever Free</h4>
							<p class="plan-feature">3 projects at a time.</p>
						</label>
					</fieldset>
					<button type="submit" class="btn btn-success" id="subscribe-button">Update Subscription</button>
				</form>
			</div>
			<div class="span5 offset1">
				<h3>Payment Method</h3>
				<form action="/app/cart/update-payment/" method="post" id="update-payment" data-card="{{user.subscription.card.id|default('none')}}" data-key="{{subscriber.publishable_key}}">
					{% if user.subscription.card.id != null %}
					<p><strong>{{user.subscription.card.type}}</strong> ending in <strong>{{user.subscription.card.last4}}</strong>, expires <strong>{{user.subscription.card.exp_month}}/{{user.subscription.card.exp_year}}</strong></p>
					<button type="submit" class="btn btn-success btn-small" id="payment-button">Update Payment Method</button>
					{% else %}
					<button type="submit" class="btn btn-primary" id="payment-button">Add Payment Method</button>
					{% endif %}
				</form>
			</div>
		</div>
	</div>
</div>

<div id="payment-empty-modal" class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Whoops!</h3>
	</div>
	<div class="modal-body">
		<p>You must have a payment method before you can choose a paid plan. Please add a payment method now.</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Okay, close this thing</a>
		<a href="#" class="btn btn-success" id="dismiss-payment-warning" data-dismiss="modal">Add Payment Method</a>
	</div>
</div>

{% include "app/sections/footer.html" %}
{% endblock %}
{% block js %}
<script type="text/javascript" src="//checkout.stripe.com/v2/checkout.js"></script>
<script type="text/javascript" src="/js/app.profile.js"></script>
{% endblock %}
