{% extends "app/base.html" %}
{% block title %}Todos{% endblock %}
{% block script %}
{% endblock %}
{% block content %}
<div id="app-todos" class="container app-container">
	{% include "app/sections/nav.html" %}
  <div class="app-filter-message alert alert-error">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    You are now in Solo Mode. Click 'Show Everyone' to see everyone again.
  </div>
  <div class="panel">
    <div class="app-todo-controls row-fluid">
      <div class="span8">
        <h3>To-Do Items</h3>
      </div>
      <div class="span2">
        <div class="btn-toolbar">
          <div class="btn-group mixsorters">
            <button class="btn btn-mini sort active" data-sort="data-duedate" data-order="desc">Oldest First</button>
            <button class="btn btn-mini sort" data-sort="data-duedate" data-order="asc">Newest First</button>
          </div>
        </div>
      </div>
      <div class="span2">
        <div class="btn-toolbar pull-right">
          <div class="btn-group mixfilters">
            <button class="btn btn-mini filter active" data-filter="all" id="app-assignee-filter-show-all">Everyone</button>
            <button class="btn btn-mini filter" data-filter="{{user.name|e('html')|replace({' ':'_'})|lower}}" id="app-assignee-filter-show-me">Me</button>
            <button class="btn btn-mini filter" data-filter="unassigned" id="app-assignee-filter-show-unassigned">Unassigned</button>
          </div>
        </div>
      </div>
    </div>
    <div class="loading">
      <img src="/img/loading-bar.gif" />
      <p>Fetching your todos, applying some magic while stirring in some flavor&hellip; please give us a moment.</p>
    </div>
    
    <ul id="todos"></ul>
    <div id="tally" class="muted">
    </div>
    <div class="row-fluid subcontrols">
      <div class="span12">
        <div class="btn-toolbar">
          <div class="btn-group">
            <a class="btn btn-mini" href="/app/export/csv/"><i class="icon-download-alt"></i> Export CSV</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "app/sections/footer.html" %}
{% endblock %}
{% block js %}
<script type="text/javascript" src="/js/app.js"></script>
<script id="module" type="text/javascript" src="/js/app.todos.js" data-user="{{user.id}}"></script>
<script type="text/javascript" src="/js/tmpl.js"></script>
{% endblock %}