{% extends "site/base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<div id="signin" class="container-narrow">
    {% include "site/sections/header.html" %}
  <div class="greeting-message">
  	<h3>Forgot your Password, eh?</h3>
  	<p>Hey&hellip; it happens to the best of us.</p>
  </div>
  <form method="post" action="">
  	<fieldset>
    	<div class="control-group">
	  	  <label class="control-label" for="inputEmail">Email Address</label>
	  	  <div class="controls">
	  	    <input id="userEmail" type="email" placeholder="youare@wesome.com" required>
	  	    <span class="help-block">Just enter the email address you use for your account and we&rsquo;ll send you a message with what to do next.</span>
	  	  </div>
	  	</div>
	  	<div class="control-group">
    		<div class="controls">
    	  	<button class="btn btn-success" type="submit">Help Me</button>
    	  	<a href="/sign-in/" class="btn">Nevermind, I found it.</a>
    		</div>
    	</div>
    </fieldset>
  </form>
</div>
{% endblock %}