{% extends "site/base.html" %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<div id="signin" class="container-narrow">
    {% include "site/sections/header.html" %}
    <div class="greeting-message">
        <h3>Forgot your password?.</h3>
        <p>Enter your email address (hint: The same one you use to login into Basecamp) and we will send you fresh instructions on how to reset it. </p>
    </div>
    <form method="post" action="/forgot-password/">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="email">Email Address</label>
                <div class="controls">
                    <input id="email" name="email" type="email" placeholder="youare@wesome.com" required>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-success" type="submit">Send Instructions</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
{% endblock %}