{% extends "site/base.html" %}
{% block title %}Sign Out{% endblock %}
{% block content %}
<div id="signin" class="container-narrow">
	{% include "site/sections/header.html" %}
	<div class="greeting-message">
		<h3>See you later, alligator.</h3>
		<p>Remember, you can take BlueRidge with you. It works great on mobile devices, too!</p>
	</div>
	<div class="greeting-message">
		<h4 class="muted">Want to get back to work?</h4>
		<a href="/connect/basecamp/" class="btn btn-success btn-small" type="submit">Get Back In There</a>
	</div>
</div>
{% endblock %}