{% extends "app/base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div id="app-profile" class="container app-container">
    {% include "app/sections/nav.html" %}
    <div class="panel">                     
        <h2 class="lead">Hey {{user.firstName}},</h2>
        <p class="lead"> You are about to change your subscription to </p> 
        {% include "app/sections/go-" ~ plan ~ ".html" %}
        {% if plan !='free' %}
        <div>
            <h5>Payment Method:</h5>            
            <p><strong>{{subscription.card.type}}</strong> ending in <strong>{{subscription.card.last4}}</strong>, expires <strong>{{subscription.card.exp_month}}/{{subscription.card.exp_year}}</strong></p>            
            <button ng-if="!paymentMethodIsSet()" class="btn btn-mini btn-success btn-purchase" stripe="stripe" callback="addPayment(token)">Add Payment Method</button>

            <button id="customButton">Purchase</button>

            <script>
            $('#customButton').click(function(){
              var token = function(res){
                var $input = $('<input type=hidden name=stripeToken />').val(res.id);
                $('form').append($input).submit();
            };

            StripeCheckout.open({
                key:         'pk_test_czwzkTp2tactuLOEOqbMTRzG',
                address:     true,
                amount:      5000,
                currency:    'usd',
                name:        'Joes Pistachios',
                description: 'A bag of Pistachios',
                panelLabel:  'Checkout',
                token:       token
            });

            return false;
        });
            </script>

            
        </div>
        {% endif %}


        <hr />
        <form>
            <button class="btn btn-large btn-success" type="submit" >Change Plan</button>
        </form>
        <a class="btn btn-link" href="/app/profile">Nevermind, cancel changes</a>

    </div>
</div>
<script src="https://checkout.stripe.com/v2/checkout.js"></script>
{% include "app/sections/footer.html" %}
{% endblock %}
