{% extends "app/base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
<div id="app-profile" class="container app-container">
	{% include "app/sections/nav.html" %}
	<div class="panel">
		<h2><img src="{{user.avatar}}" class="img-circle" > <span class="muted">{{user.name}}</span></h2>
		<div class="row-fluid">
			<div class="span4">
				<h3>Your Info</h3>
				<form action="/app/profile/" method="post" id="profile" class="well">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="name">Name</label>
							<div class="controls">
								<input type="text" class="input-large" id="name" value="{{user['name']}}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="email">Email</label>
							<div class="controls">
								<input type="email" class="input-large" id="email" value="{{user['email']}}">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="password">Password</label>
							<div class="controls">
								<input type="password" class="input-large" id="password" name="password">
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="confirm-password">Confirm Password</label>
							<div class="controls">
								<input type="password" class="input-large" id="confirm-password">
							</div>
						</div>
					</fieldset>
					<div>
						<button class="btn btn-success" type="submit">Update Profile</button>
					</div>
				</form>
			</div>

			<div class="span8">
				<h3>Your Plan</h3>
				<div class="row-fluid">
					<div class="span4 well {% if user['subscription']['plan'] == 'br-pro' %} muted {% endif %}">
						<h4>Pro </h4>
						<p class="plan-feature">20 projects at a time</p>
						<p class="plan-price"><sup>$</sup>14.95<sub>/mo.</sub></p>
						<button type="submit" class="btn btn-info">Change</button>
					</div>
					<div class="span4 well {% if user['subscription']['plan'] == 'br-solo' %} muted {% endif %}">
						<h4>Solo</h4>
						<p class="plan-feature">5 projects at a time</p>
						<p class="plan-price"><sup>$</sup>7.95<sub>/mo.</sub></p>
						<button type="submit" class="btn btn-info">Change</button>
					</div>
					<div class="span4 well {% if user['subscription']['plan'] == 'br-free' %} muted {% endif %}">
						<h4>Forever Free</h4>
						<p class="plan-feature">1 project at a time</p>
						<p class="plan-price"><sup>$</sup>0.00<sub>/mo.</sub></p>
						<button type="submit" class="btn btn-info">Change</button>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span12">
						<p>Hey! You can choose which projects you see whenever you like, as much as you like.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include "app/sections/footer.html" %}
{% endblock %}
