{% extends "app/base.html" %}
{% block title %}Todos{% endblock %}
{% block content %}
<div id="app-todos" class="container app-container">
	{% include "app/sections/nav.html" %}
	<div  class="panel">
		<div class="app-todo-controls row-fluid">
			<div class="span12 ">
				<a href="/app/export/csv/" class="btn btn-mini pull-right"><i class="icon-download-alt"></i> Export CSV</a>
			</div>
		</div>
		<div id="todos">
			{% for todo in todos %}
			{{dump(todo)}}
			<div class="app-todo-list-item row-fluid mix">
				<div class="span3 app-todo-duedate">
					{% if todo.due_on == null %}<span class="app-alert-warning">None</span>{% endif %} {{todo.due_on}} {% if todo.overdue_by>0 %}<span class="app-alert-warning app-todo-overdue">{{todo.overdue_by}} days</span>{% endif %}
				</div>
				<div class="span6 app-todo-content">
					<a class="app-todo-title" href="{{todo.href}}" target="_blank">{{ todo.content }}</a>
					<span class="app-todo-meta">
						{{ todo.list }} | {{ todo.project }}
					</span>
				</div>
				<div class="span3 app-todo-owner">
					{% if todo.assignee.name %}
					<span class="app-assignee-name">{{todo.assignee.name}}</span>
					{% else %}
					<span class="app-alert-warning">Unassigned</span>
					{% endif %}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>	
</div>
{% include "app/sections/footer.html" %}
{% endblock %}