/** Layout **/

// Small Defaults
body {
  background-color: $background_color;
  background-image: url('/img/background_pattern.png');
  background-position: 0 0;
  background-repeat: repeat;
  border-top: 3px solid $brand_blue;
  height: 100%;
  font-family: "proxima-nova","Helvetica Neue",helvetica,arial,sans-serif;
  margin: 0;
  padding: 0 2em;
  text-shadow: 0 1px #fff;
  @include breakpoint(small){ 
  	padding: 0 .75em; 
  }
}