<div id="pricing" class="container-narrow">
  <div ng-include src="'/views/site/sections/header.html'"></div>
  <div class="billboard">
    <h1 class="headline">So what&rsquo;s all this, anyway?</h1>
  </div>
  <div class="row-fluid">
  	<div class="span12">
  		<h2>We had a problem</h2>
  		<p>We realized we were losing time and money because we couldn't get a good overview of all our To-Dos at once. So we created this.</p>
  		<h2>Super-Alpha Mode</h2>
  		<p>Things are still a little rough around here. We just moved in and are still unpacking. You can follow our progress here.</p>
		</div>
		<div ng-include src="'/views/site/sections/footer.html'"></div>
	</div>
</div>