<div id="home" class="container-narrow">
	<div ng-include src="'/views/site/sections/header.html'"></div>
	<div class="billboard">
		<h1 class="headline">Basecamp To-dos Made Easy.</h1>
		<div class="tagline">
			<p>Tired of getting lost in a sea of To-do items, To-do lists, and Projects?</p> 
			<p>We were, too. So we built this and <em>got our lives back</em>.</p>
		</div>
		<div class="highlight">
      <a class="btn btn-large btn-success" href="/connect">Connect to Basecamp</a>
      <p>and try it now for free.</p>
    </div>
	</div>
	<div class="row-fluid">
		<div class="span6 pitchpoint">
			<h4>What does BlueRidge do?</h4>
			<p>Simple. We connect to your Basecamp account, grab all the To-do items in all the To-do lists, across all your projects and show them to you in one sortable easy to read list.</p>
		</div>
		<div class="span6 pitchpoint">
			<h4>Why would I want it?</h4>
			<p>Do you have a time machine? Neither do we. We were sick of losing time searching for To-dos and sorting them in our heads. With BlueRidge, you can <a href="/preview/">see everything at once</a>. The way it should be.</p>               
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6 pitchpoint">
			<h4>How much does it cost?</h4>
			<p>A fraction of what it&rsquo;s worth. You&rsquo;ll save that time in the first day using it. No hidden fees. No minimum terms. Cancel anytime. <a href="/pricing/">See pricing details</a>.</p>			
		</div>
		<div class="span6 pitchpoint">
			<h4>What else does it do?</h4>
			<p>Nothing. This isn&rsquo;t another To-do list app or a replacement for Basecamp. But it does make using Basecamp To-dos a whole helluva lot easier.</p>
		</div>
  </div>

  <div class="row-fluid">
		<div class="span6 pitchpoint">
			<div id="mc_embed_signup">
				<form action="http://ninelabs.us4.list-manage.com/subscribe/post?u=dd83e9925d042bbeb961edab2&amp;id=e4e79897eb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<h4>Subscribe to our mailing list</h4>
					<div class="mc-field-group input-append">
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="you@domain.com">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success">
					</div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>  

				</form>
			</div>
		</div>
		<div class="span6 pitchpoint">
      <h4>Have a Question?</h4>
			<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/UAC3v7bZKyCUhWjUZWFqDw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>
      <a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#cc6d00" data-uv-link-color="#007dbf" data-uv-default-mode="support" data-uv-forum-id="212703" class="btn btn-warning">Feedback &amp; Support</a>
    </div>
	</div>
  <div ng-include src="'/views/site/sections/footer.html'"></div>
</div>

