<div id="pricing" class="container-narrow">
  <div ng-include src="'/views/site/sections/header.html'"></div>
  <div class="billboard">
    <h1 class="headline">Take a Peek. We&nbsp;don&rsquo;t mind.</h1>
  </div>

  <div class="row-fluid site-preview">
    <div class="span12">
      <h3>Choose which projects you&rsquo;d like to see&hellip;</h3>
      <img src="/img/screenshots/projects.png" alt="Project Selection Screenshot">
    </div>
  </div>
  <div class="row-fluid site-preview">
    <div class="span12">
      <h3>&hellip;and get all your To-Dos in one easy-to-read list.</h3>
      <img src="/img/screenshots/todos.png" alt="To-do List Screenshot">    
    </div>
  </div>
  
  <div class="row-fluid">
    <div class="span12 billboard">
      <div class="tagline">
      	<p>See how much easier BlueRidge makes getting things done.</p>
      </div>
      <div class="highlight">
        <a class="btn btn-large btn-success" href="/connect">Connect to Basecamp</a>
        <p>and try it now for free.</p>
      </div>
    </div>
  </div>
  <div ng-include src="'/views/site/sections/footer.html'"></div>
</div>