<div id="pricing" class="container-narrow site">
  <div ng-include src="'views/site/sections/header.html'"></div>
  <div class="jumbotron">
    <h1>Take a Peek. We&nbsp;don&rsquo;t mind.</h1>
  </div>
  <hr>
  <div class="row-fluid site-preview">
    <div class="span12">
      <img src="http://placekitten.com/900/600" alt="To-do List Screenshot">
      <h3>All your To-Dos in one easy-to-read list.</h3>
    </div>
  </div>
  <div class="row-fluid site-preview">
    <div class="span12">
      
      <img src="http://placekitten.com/850/600" alt="To-do List Screenshot">
      <h3>Sort and Filter To-dos by due-date, person, list or project.</h3>
    </div>
  </div>
  <div class="row-fluid site-preview">
    <div class="span12">
      <img src="http://placekitten.com/700/600" alt="To-do List Screenshot">
      <h3>Use &lsquo;Mute&rsquo; and &lsquo;Solo&rsquo; to hide or show individual team members at any time.</h3>
    </div>
  </div>
  <hr>
  <div class="row-fluid">
    <div class="span12 site-underaction">
      <p class="lead">Nothing is better than seeing it in action. Go ahead.</p>
      <div class="highlight">
        <a class="btn btn-large btn-success" href="/connect">Connect to Basecamp</a>
        <p>and try it now for free.</p>
      </div>
    </div>
  </div>
  <div ng-include src="'views/site/sections/footer.html'"></div>
</div>