<div id="app-profile" class="container app-container">
	<div ng-include src="'views/sections/top-nav.html'"></div>
	<div class="panel">				
		<h2><img ng-src="{{user.avatar}}" class="img-circle" > <span class="muted">{{user.name}}</span></h2>
		<form class="form-horizontal">
			<fieldset>
				<legend>Your Info</legend>
				<div class="control-group">
					<label class="control-label" for="userName">Name</label>
					<div class="controls">
						<input type="text" class="input-xlarge" id="userName" ng-model="user.name" >
					</div>
        </div>
				<div class="control-group">
					<label class="control-label" for="userEmail">Email</label>
					<div class="controls">
						<input type="email" class="input-xlarge" id="userEmail" ng-model="user.email" >
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="userPassword">Password</label>
					<div class="controls">
						<input type="password" class="input-xlarge" id="userPassword" ng-model="user.password">
					</div>
				</div>
        <div class="control-group">
          <label class="control-label" for="userConfirmPassword">Confirm Password</label>
          <div class="controls">
            <input type="password" class="input-xlarge" id="userConfirmPassword" ng-model="user.confirm-password">
          </div>
        </div>
			</fieldset>
			<div class="form-actions">
					<button class="btn btn-success" type="submit" ng-click="update(user)">Update Profile</button>
			</div>
		</form>

		<div id="billing" class="">
			<fieldset>
				<legend>Billing</legend>
				<div class="control-group sector sub-sector">
					<label class="radio">
						<input name="" type="radio"	value="free" ng-model="user.plan">
						<span><strong>Free</strong></span>
						<div class="muted">Allows you to view one project.</div>
					</label>
				</div>
				<div class="control-group sector">
					<label class="radio">
						<input type="radio"	value="solo" ng-model="user.plan">
						<span><strong>Solo</strong></span>
						<p class="muted">Allows you to view up to 5 projects for $4.95/mo</p>
					</label>
				</div>
				<div class="control-group sector">
					<label class="radio">
						<input type="radio"	value="pro" ng-model="user.plan">
						<span><strong>Pro</strong></span>
						<p class="muted"> Allows you to view up to 20 projects for $14.95/mo</p>
					</label>
				</div>				
			</fieldset>
			<div class="control-group">
				<div class="controls">
					<button class="btn btn-info" type="submit" ng-click="update(user)">Add a Payment method</button>
				</div>
			</div>
		</div>
	</div>

</div>