<div id="app-projects" class="container app-container">
	<div ng-include src="'/views/app/sections/nav.html'"></div>
	<div class="panel">
		<div ng-if="noob">
			<h2>Welcome to BlueRidge. Let&rsquo;s get started.</h2>
			<p class="lead">Choose the projects you&rsquo;d like to get a better view of.<br>We&rsquo;ll grab all the To-dos and sort them for you.</p>
		</div>
		<p ng-if="!noob" class="lead">Choose which projects to view:</p>
		<div class="row-fluid"><div class="span12">
			<fieldset>				
				<label ng-repeat="project in projects.list" class="checkbox project-row">
					<input type="checkbox" value="{{project.id}}" ng-model="project">
					<h4>{{project.name}}</h4>
					<p class="project-description">{{project.description}}</p>
					<p>{{project.account}}</p>
				</label>
			</fieldset>
			<hr />
			<div class="control-group">
				<div class="controls">
					<button class="btn btn-large btn-success" type="submit" ng-click="update(projects)">Apply My Choices</button>
				</div>
			</div>
		</div></div>
	</div>
	<div ng-include src="'/views/app/sections/footer.html'"></div>
</div>