<div ng-controller="SignInCtrl">
  <p>Already have an account? <a ng-href="#"ng-click="open()">Sign in Here</a></p>
 <form modal="shouldBeOpen" close="close()" options="opts">
  <div class="modal-header">
   <h2 class="form-signin-heading">Please sign in</h2>
 </div>
 <div class="modal-body">
   <label for="userEmail">Email Address</label>
   <input id="userEmail" type="email" class="email" required placeholder="Email address" ng-model="user.email">
   <label for="userPassword">Password</label>
   <input id="userPassword" type="password"  required placeholder="Password" ng-model="user.passwd">
 </div>
 <div class="modal-footer">
   <button class="btn btn-success" type="submit" ng-click="signin(user)">Sign in</button>
   <button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
 </div>
</form>
</div>