$background_color: rgb(245, 239, 230);
$brand_blue: rgb(51, 101, 154);

$link_color: rgb(20,20,20);
$link_hover_color: rgb(28, 92, 118);

$top_stripe: rgb(60,193,90);
$masthead_text: rgb(124,122,117);
$site_border_color: rgb(222, 215, 200);
$site_border_color_alt: rgb(215, 215, 215);
$highlight_background_color: rgb(247, 247, 247);