<div id="billing" ng-controller="SubscriptionCtrl">
    <legend>Your Subscription</legend>
    <div class="sector sub-sector">
        <h2>Free <span class="plan-price"><sup>$</sup>0.00<sub>/mo.</sub></span></h2>
        <p class="plan-feature">1 project at a time</p>
        <p>You can choose which project you see whenever you like, as much as you like.</p>            
    </div>
    <div class="sector sub-sector">
        <h2>Solo <span class="plan-price"><sup>$</sup>7.95<sub>/mo.</sub></span></h2>
        <p class="plan-feature">5 projects at a time</p>
        <p>Great for freelancers. View To-dos from multiple projects at the same time.</p>
    </div>
    <div class="sector sub-sector">
        <h2>Pro <span class="plan-price"><sup>$</sup>14.95<sub>/mo.</sub></span></h2>
        <p class="plan-feature"> 20 projects at a time </p>
        <p>Working on a lot of projects at once? No problem&mdash;we&rsquo;ve got you covered.</p>
    </div>
    <button class="btn btn-info" type="submit" ng-click="open()">Subscribe</button>


    <form modal="shouldBeOpen" close="close()" options="opts">
        <div class="modal-header">
            <h2 class="form-signin-heading">Payment Info</h2>
        </div>
        <div class="modal-body">
            <div class="controls">
                <div class="span8">
                    <label for="cc">Card Number:</label>
                    <input id="cc" pattern="\d*" class="input-large" type="text" maxlength="16" required placeholder="**** **** **** ****" ng-model="card.number"> 
                </div>
            </div>
            <div class="controls controls-row">
                <div class="span3">
                    <label>Expires</label>
                    <input  class="input-mini" type="text"required placeholder="MM" maxlength="2" pattern="\d*" ng-model="card.exp_month"> / 
                    <input  class="input-mini" type="text"required placeholder="YYYY" maxlength="4" pattern="\d*" ng-model="card.exp_year">
                </div>
                <div class="span3">
                    <label for="cvc">Card Code</label>
                    <input id="cvc" pattern="\d*" class="input-mini" type="text" maxlength="4" required placeholder="CVC" ng-model="card.cvc">
                </div>
            </div>
            <div class="controls">
                <div class="span8">
                    <label for="name">Name on Card:</label>
                    <input id="name" class="input-large" type="text" required placeholder="Baxter Jones" ng-model="card.name">
                </div>
            </div>
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-info" type="submit" ng-click="createToken(card)">Subscribe</button>
        </div>
    </form>
</div>