<div class="app-navigation">
  <div class="row-fluid" ng-if="!noob">
    <div class="span12">
    	<a id="brand">Blue Ridge</a>
      <ul class="nav nav-pills">
        <li ng-class="{active:isActive('/app/todos')}" ><a ng-href="/app/todos"><i class="icon-check"></i> To-dos</a></li>
        <li ng-class="{active:isActive('/app/projects')}"><a ng-href="/app/projects"><i class="icon-cogs"></i> Projects</a></li>
        <li class="ng-class:{active:isActive('/app/me')};"><a ng-href="/app/me"><i class="icon-user"></i> Profile</a></li>
        <li class="signout ng-class:{active:isActive('/app/signout')};"><a ng-href="/app/signout" tabindex="-1"><i class="icon-signout"></i> Signout</a></li>
      </ul>
    </div>
  </div>
</div>