<div class="row-fluid">
	<div class="span6">
		<h3>Your Info</h3>
		<form id="profile" class="well">
			<fieldset>
				<div class="control-group">
					<label class="control-label" for="userName">Name</label>
					<div class="controls">
						<input type="text" class="input-large" id="userName" ng-model="user.name" >
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="userEmail">Email</label>
					<div class="controls">
						<input type="email" class="input-large" id="userEmail" ng-model="user.email" >
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="userPassword">Password</label>
					<div class="controls">
						<input type="password" class="input-large" id="userPassword" ng-model="user.password">
					</div>
				</div>
			</fieldset>
			<div>
				<button class="btn btn-success" type="submit" ng-click="update(user)">Update Profile</button>
			</div>
		</form>
	</div>
	<div class="span6">
		<h3>Your Plan</h3>
		<div class="well">
			<h4>Free <span class="plan-price"><sup>$</sup>0.00<sub>/mo.</sub></span></h4>
  	  <p class="plan-feature">1 project at a time</p>
			<p>You can choose which project you see whenever you like, as much as you like.</p>
			<a href="{{billing}}" class="btn btn-primary">Change Plan</a>
		</div>
	</div>
</div>