<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="brand" href="/">BlueRidge</a>
			<div class="nav-collapse collapse">
				<ul ng-controller="MeCtrl" class="nav">	
					<li><a href="/todos">To-Dos</a></li>
					<li><a href="/people">People</a></li>
				</ul>
				<ul class="dropdown nav pull-right" ng-class='{open: open}'>
					<li><a class="dropdown-toggle" data-toggle="dropdown" ng-click='open=!open'><i class="icon-user"></i> {{user.name}} <span class="caret"></span></a></li>
					<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
						<li><a tabindex="-1" href="/settings">Settings</a></li>
						<li><a tabindex="-1" href="/signout">Sign Out</a></li>	
					</ul>
				</ul>
			</div>
		</div>
	</div>
</div>