<div class="app-navigation">
  <div class="row-fluid">
    <div class="span2">
      <h4 id="brand">Blue Ridge</h4>
    </div>
    <div class="span10">
      <ul class="dropdown nav nav-pills" ng-class='{open: open}'>
        <li><a ng-href="/todos">To-dos</a></li>
        <li><a ng-href="/projects">Projects</a></li>
        <li class="pull-right"><a tabindex="-1" ng-href="/signout">Signout</a></li>
        <li class="pull-right"><a ng-href="/me">Profile</a></li>
      </ul>
    </div>
  </div>
</div>