<div id="pricing" class="container-narrow">
  <div ng-include src="'/views/site/sections/header.html'"></div>
  <div class="billboard">
    <h1 class="headline">Easy Pricing, Too.</h1>    
  </div>
  
  <div class="row-fluid">
  	<ul class="thumbnails">
  		<li class="span4 priceblock">
  			<h2>Free <span class="plan-price"><sup>$</sup>0.00<sub>/mo.</sub></span></h2>
  	    <p class="plan-feature">1 project at a time</p>
				<p>You can choose which project you see whenever you like, as much as you like.</p>
				<a href="/signup?p=free" class="btn btn-success">Get a Free Account</a>
			</li>
			<li class="span4 priceblock">
				<h2>Solo <span class="plan-price"><sup>$</sup>7.95<sub>/mo.</sub></span></h2>
  	    <p class="plan-feature">5 projects at a time</p>
  	    <p>Great for freelancers. View To-dos from multiple projects at the same time.</p>
  	    <a href="/signup?p=solo" class="btn btn-success">Get a Solo Account</a>
  	  </li>
  	  <li class="span4 priceblock">
  	   	<h2>Pro <span class="plan-price"><sup>$</sup>14.95<sub>/mo.</sub></span></h2>
  	    <p class="plan-feature">20 projects at a time</p>
  	    <p>Working on a lot of projects at once? No problem&mdash;we&rsquo;ve got you covered.</p>
  	    <a href="/signup?p=pro" class="btn btn-success">Get a Pro Account</a>
  	  </li>
		</ul>
	</div>

  <div class="row-fluid">
    <div class="span12 billboard">
      <div class="tagline">
      	<p>See how much easier BlueRidge makes getting things done.</p>
      </div>
      <div class="highlight">
        <a class="btn btn-large btn-success" href="/connect">Connect to Basecamp</a>
        <p>and try it now for free.</p>
      </div>
    </div>
  </div>
  <div ng-include src="'/views/site/sections/footer.html'"></div>
</div>