<div id="pricing" class="container-narrow site">
  <div ng-include src="'views/sections/site-header.html'"></div>
  <div class="jumbotron">
    <h1>Easy Pricing, Too.</h1>    
  </div>
  <hr>
  <div class="row-fluid marketing">
    <div class="span4">
      <h2>Free</h2>
      <p class="plan-feature"><span class="plan-qty">1</span> project at a time</p>
      <p>You can switch between which project you see whenever you like, as much as you like.</p>
      <p class="plan-price"><sup>$</sup>0.00<sub>/mo.</sub></p>
    </div>
    <div class="span4">
      <h2>Solo</h2>
      <p class="plan-feature"><span class="plan-qty">5</span> projects at a time</p>
      <p>Great for freelancers. View multiple projects and change which ones you see at any time.</p>
      <p class="plan-price"><sup>$</sup>7.95<sub>/mo.</sub></p>
    </div>
    <div class="span4">
      <h2>Pro</h2>
      <p class="plan-feature"><span class="plan-qty">20</span> projects at a time</p>
      <p>Working on a lot of projects at once? No problem&mdash;we&rsquo;ve got you covered.</p>
      <p class="plan-price"><sup>$</sup>14.95<sub>/mo.</sub></p>
    </div>
  </div>
  <hr>
  <div class="row-fluid">
    <div class="span12 site-underaction">
      <p class="lead">See how much easier BlueRidge makes getting things done.</p>
      <div class="highlight">
        <a class="btn btn-large btn-success" href="/connect">Connect to Basecamp</a>
        <p>and try it now for free.</p>
      </div>
    </div>
  </div>
  <div ng-include src="'views/sections/site-footer.html'"></div>
</div>