<div id="pricing" class="container-narrow">
  <div ng-include src="'/views/site/sections/header.html'"></div>
  <div class="billboard">
    <h1 class="headline">Privacy Policy</h1>
	</div>
	<div class="row-fluid">
  	<div class="span12">
    	<p>BlueRidge is committed to protect the privacy of our customers. This Privacy Policy outlines what information we collect and how we may use it on www.blueridgeapp.com. If you have questions or concerns about our privacy practices, please feel free contact us at <a href="mailto:team@blueridgeapp.com">team@blueridgeapp.com</a>.</p>
    	<h4>Personal data</h4>
    	<p>When you create a Blue Ridge account, we ask for your e-mail address which will become part of your login credentials to sign in to BlueRidge.</p>
    	<p>When you connect your BlueRidge account to Basecamp (or any other 3rd party service) you authorize us to retreive information from and about your account(s) on that service.</p>
    	<p>Information collected within BlueRidge will not be used outside your account or passed on to other third parties without your express consent.</p>
    	<p>We collect and store IP-address for each user for statistical purposes. Your IP-address will not be disclosed to any other third party.</p>
    	<h4>Cookies</h4>
    	<p>BlueRidge uses a technology called &ldquo;cookies&rdquo; to store session information. This is a small file on your computer hard drive which will be created and accessed by your browser and contains an anonymous unique identifier.</p>
    	<p>We currently use persistent cookies in BlueRidge to store the login session (&ldquo;Remember me&rdquo;). A persistent cookie remains on your hard drive for an extended period of time. You can remove persistent cookies by following directions provided in your Internet browser&rsquo;s &ldquo;help&rdquo; file.</p>
    	<h4>Payments</h4>
    	<p>Payments are handled by an external service provider (&ldquo;Stripe&rdquo;). BlueRidge will not store your Credit Card number. BlueRidge will store your billing address for receipt display purposes.</p>
    	<h4>Ad servers</h4>
    	<p>We do not partner with or have special relationships with any ad server companies. We do not provide any user data to any ad server companies.</p>
    	<h4>Newsletters and other e-mail deliveries</h4>
    	<p>As part of the service BlueRidge is sending out a periodic newsletter. Your name and e-mail address are used for sending the newsletter. You can opt out of receiving a newsletter by clicking a link within the newsletter itself.</p>
    	<p>BlueRidge will send a welcoming email to verify your new account. You can always request a password recovery email from BlueRidge.</p>
    	<p>We might email account administrators for billing related purposes.</p>
    	<p>We will occasionally send out announcements related to BlueRidge service in general.</p>
    	<h4>Data Security</h4>
    	<p>BlueRidge operates over Secure Sockets Layer protocol (HTTPS), so that the information exchange between you and BlueRidge is encrypted. BlueRidge only uses a valid SSL certificate from major service providers.</p>
    	<p>We have appropriate security measures in place in our physical facilities to protect against the loss, misuse or alteration of information that we have collected from you at our site.</p>
    	<h4>Changes in Privacy Policy</h4>
    	<p>From time to time, we may use customer information for new, unanticipated uses not previously disclosed in our privacy notice. If our information practices change at some time in the future we will post the policy changes to our Web site to notify you of these changes and we will use for these new purposes only data collected from the time of the policy change forward. If you are concerned about how your information is used, you should check back at our Web site periodically.</p>
		</div>
		<div ng-include src="'/views/site/sections/footer.html'"></div>
	</div>
</div>