<div id="app-profile" class="container app-container">
	<div ng-include src="'/views/app/sections/nav.html'"></div>
	<div class="panel">				
		<h2><img ng-src="{{user.avatar}}" class="img-circle" > <span class="muted">{{user.name}}</span></h2>
        <div class="row-fluid">
            <div class="span6">
                <h3>Your Info</h3>
                <form id="profile" class="well">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="userName">Name</label>
                            <div class="controls">
                                <input type="text" class="input-large" id="userName" ng-model="user.name" >
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="userEmail">Email</label>
                            <div class="controls">
                                <input type="email" class="input-large" id="userEmail" ng-model="user.email" >
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="userPassword">Password</label>
                            <div class="controls">
                                <input type="password" class="input-large" id="userPassword" ng-model="user.password">
                            </div>
                        </div>
                    </fieldset>
                    <div>
                        <button class="btn btn-success" type="submit" ng-click="update(user)">Update Profile</button>
                    </div>
                </form>
            </div>
            <div class="span6">                
                <h3>Your Plan</h3>           
                <div class="well">   
                    <h4>Free <span class="plan-price"><sup>$</sup>0.00<sub>/mo.</sub></span></h4>
                    <p class="plan-feature">1 project at a time</p>
                    <p>You can choose which project you see whenever you like, as much as you like.</p>
                    <button class="btn btn-info btn-purchase"  data-description="free" callback="makePayment(token)">Upgrade</button>
                </div>

                <div class="well">
                    <h4>Solo <span class="plan-price"><sup>$</sup>7.95<sub>/mo.</sub></span></h4>
                    <p class="plan-feature">5 projects at a time</p>
                    <p>Great for freelancers. View To-dos from multiple projects at the same time.</p>
                    <button class="btn btn-info btn-purchase" stripe="stripe" data-description="Solo Plan $7.95" data-amount=795 callback="makePayment(token,'solo')">Upgrade</button>                    
                </div>

                <div class="well"> 
                    <h4>Pro <span class="plan-price"><sup>$</sup>14.95<sub>/mo.</sub></span></h4>
                    <p class="plan-feature"> 20 projects at a time </p>
                    <p>Working on a lot of projects at once? No problem&mdash;we&rsquo;ve got you covered.</p>
                    <button class="btn btn-info btn-purchase" stripe="stripe" data-description="Pro Plan $14.95" data-amount=1495 callback="makePayment(token,'pro')">Upgrade</button>                            
                </div>    
            </div>
        </div>
    </div>
    <div ng-include src="'/views/app/sections/footer.html'"></div>
</div>
