<div class="container-fluid">
	<div ng-include src="'views/sections/top-nav.html'"></div>
	<div class="container-narrow">
		<h2 class="muted">Accounts &amp; Projects</h2>
		<p class="lead">Select one or more projects you would want us to awesomely organize</p>
		<fieldset ng-repeat="account in user.accounts">
			<legend>{{account.name}}</legend>
			<label ng-repeat="project in account.projects" class="checkbox">
				<input type="checkbox"	value="{{project.id}}"	ng-checked="project.selected"	ng-model="project.selected">
				<span><strong>{{project.name}}</strong></span>
				<p class="muted">{{project.description}}</p>
			</label>
		</fieldset>
		<hr />
		<div class="control-group">
			<div class="controls">
				<button class="btn btn-large btn-success" type="submit" ng-click="updateAccounts(user.accounts)">Update Accounts</button>
			</div>
		</div>
	</div>
</div>