<div class="container-narrow">
	<div class="masthead">
		<h2 class="muted">BlueRidge</h2>
	</div>
	<hr>
	<div class="jumbotron">
		<h1>Basecamp To-Dos Made Easy.</h1>
		<p class="lead">Tired of getting lost in a sea of To-Do items, To-Do lists, and Projects?<br>We are too. So we built this and <em>got our lives back</em>.</p>
		<p><b>Try it now for free.</b></p>
		<p><a class="btn btn-large btn-success" href="/connect">Connect to Basecamp</a></p>
		
		<div ng-controller="SignInCtrl">
			<p>Already have an account? <a href="#"ng-click="open()">Sign in Here</a></p>
			<form modal="shouldBeOpen" close="close()" options="opts">
				<div class="modal-header">
					<h2 class="form-signin-heading">Please sign in</h2>
				</div>
				<div class="modal-body">
					<label for="userEmail">Email Address</label>
					<input id="userEmail" type="email" class="email" required placeholder="Email address" ng-model="user.email">
					<label for="userPassword">Password</label>
					<input id="userPassword" type="password"  required placeholder="Password" ng-model="user.passwd">
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" type="submit" ng-click="signin(user)">Sign in</button>
					<button class="btn btn-warning cancel" ng-click="close()">Cancel</button>
				</div>
			</form>
		</div>
	</div>
	<hr>
	<div class="row-fluid marketing">
		<div class="span6">
			<h4>What does BlueRidge do?</h4>
			<p>Simple. We connect to your Basecamp account, grab all the To-Do items in all the To-Do lists, across all your projects and show them to you in one sortable easy to read list. <a href="#">See a Screenshot</a></p>
			<h4>How much does it cost?</h4>
			<p>Only $10 a month. A fraction of what it&rsquo;s worth. You&rsquo;ll save that time in the first day using it. No hidden fees. No minimum terms. Cancel anytime.</p>
		</div>

		<div class="span6">
			<h4>Why would I want it?</h4>
			<p>Do you have a time machine? Neither do we. We were sick of losing time searching for To-Dos and sorting them in our heads. With BlueRidge, you can see everything at once. The way it should be.</p>               
			<h4>What else does it do?</h4>
			<p>Nothing. This isn&rsquo;t another To-Do list app or a replacement for Basecamp. But it does make using Basecamp a whole helluva lot nicer.</p>
		</div>
	</div>
</div>
<div id="push"></div>

