<div class="container-fluid">
	<div ng-include src="'views/sections/top-nav.html'"></div>
	<div class="container-narrow">				
		<h2> <img ng-src="{{user.avatar}}" class="img-circle" > <span class="muted">{{user.name}}</span></h2>
		<div class="row-fluid">
			<div class="span6 well" id="profile">
				<fieldset>
					<legend>Your Info</legend>
					<div class="control-group">
						<label class="control-label" for="userName">Name</label>
						<div class="controls">
							<input type="text" id="userName" ng-model="user.name" >
						</div>
					</div>		
					<div class="control-group">
						<label class="control-label" for="userEmail">Email</label>
						<div class="controls">
							<input type="email" id="userEmail" ng-model="user.email" >
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="userPassword">Password</label>
						<div class="controls">
							<input type="password" id="userPassword" ng-model="user.password">
						</div>
					</div>
				</fieldset>
				<div class="control-group">
					<div class="controls">
						<button class="btn btn-success" type="submit" ng-click="update(user)">Update Profile</button>
					</div>
				</div>
			</div>

			<div class="span6 well">
				<fieldset>
					<legend>Billing</legend>
					<div class="control-group">
						<div class="controls">
							<button class="btn btn-info" type="submit" ng-click="update(user)">Add a Payment method</button>
						</div>
					</div>
				</fieldset>
				
			</div>
		</div>
	</div>
</div>