<div id="app-todos" class="container app-container">
  <div ng-include src="'views/sections/top-nav.html'"></div>  
  <div loading-container="loading" class="panel">
    <div class="app-todo-controls row-fluid">
      <div class="span6">
        <h2 class="muted">To Dos</h2>
      </div>
      <div class="span6" style="text-align:right">
        <div class="btn-toolbar pull-right">
          <div class="btn-group">
            <button class="btn btn-mini">Date <span class="caret"></span></button>
            <button class="btn btn-mini">Owner</button>
            <button class="btn btn-mini">List</button>
            <button class="btn btn-mini">Project</button>
          </div>
        </div>
      </div>
    </div>
    <div class="app-todo-list-item row-fluid" ng-repeat="todo in todos">
      <div class="span2">
        <span ng-if="!todo.dueDate" class="label">None</span> {{todo.dueDate}} <span ng-if="todo.overDueBy>0" class="label label-important">{{todo.overDueBy}} days</span>
      </div>
      <div class="span6" title="'Description'" filter="{ 'content': 'text' }" sortable="content" ><a ng-href="{{todo.url}}" target="_blank">{{todo.content}}</a></div>
      <div class="span2 secondary-data" title="'Owner'" filter="{ 'owner.name': 'text' }" sortable="owner.name" ><span ng-if="!todo.owner.name" class="label label-important" >Unassigned</span>{{todo.owner.name}}</div>
      <div class="span2 secondary-data" title="'List'" filter="{ 'list': 'text' }" sortable="list" >{{todo.list}} <br> {{todo.projectName}}</div>
    </div>
  </div>
</div>
