<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/UAC3v7bZKyCUhWjUZWFqDw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<footer>
	<div class="row-fluid basecamp-stamp">
		<div class="span12">
			<p>Works seamlessly with <a href="http://basecamp.com"><img src="/img/basecamp_logo.png" alt="Basecamp Logo" style="margin-top:-.8em;vertical-align:middle"></a></p>
		</div>
	</div>
	<div class="row-fluid">
		<nav class="span12 site-sublinks">
			<a href="/"><i class="icon-home"></i> <span>Home</span></a>
			<a href="/preview/"><i class="icon-eye-open"></i> <span>Preview</span></a>
			<a href="/pricing/"><i class="icon-usd"></i> <span>Pricing</span></a>
			<a href="/privacy/"><i class="icon-lock"></i> <span>Privacy</span></a>
			<a href="/about/"><i class="icon-heart"></i> <span>About</span></a>
			<a href="javascript:void(0)" data-uv-lightbox="classic_widget" data-uv-mode="full" data-uv-primary-color="#cc6d00" data-uv-link-color="#007dbf" data-uv-default-mode="support" data-uv-forum-id="212703"><i class="icon-comments"></i> <span>Support</span></a>
			<a href="https://twitter.com/blueridgeapp"><i class="icon-twitter"></i> <span>Tweet&nbsp;Us</span></a>
		</nav>
	</div>
	<div class="row-fluid">
		<div class="span12 site-copyright">
			<p>Made&nbsp;in&nbsp;Atlanta&nbsp;by&nbsp;<a href="http://ninelabs.com">Nine&nbsp;Labs</a>. &copy;2013&nbsp;All&nbsp;rights&nbsp;reserved.</p>
		</div>
	</div>
</footer>